<div class="container main-content text-center u-s-mt-small">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% if @error_text %>
        <h1><%=@error_text%></h1>
      <% else %>
        <h1>Sorry, that post is unavailable</h1>
      <% end %>
      <p>Maybe it never existed? <%= link_to "Try another one", root_path %></p>
    </div>
  </div>
</div>
