<div class="post-list">
  <%= for post <- @posts do %>
    <div class="post-preview">
      <a href="/posts/<%=post.slug%>">
        <h2 class="post-title"><%= post.title %></h2>
      </a>
      <div class="post-body"><%= post.body |> render_post_body %>...</div>
    </div>
  <% end %>
</div>