<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <% if @post %>
                        <h1><%= @post.title %></h1>
                        <hr class="small">
                        <span class="subheading">By Jack Marchant</span>
                    <% else %>
                        <h1>Jack Marchant</h1>
                        <hr class="small">
                        <span class="subheading">Web Developer</span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>